<div class='container'>
    <h1>MiniMarket products</h1>
    <table class='prod_table'>
        <!-- <div my-directive kissa='{{jotain}}' products='products'></div> -->
        <div my-directive location='Kemi,fi'></div>
        <my-directive></my-directive>
        <p class="my-directive"></p>
        <input type="text" ng-model="name">
        <thead>
            <tr>
                <th>Product name</th>
                <th>Product price</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat='product in products'>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
            </tr>
        </tbody>
    </table>
</div>